[submodule "vim/submodule/pyflakes"]
	path = vim/submodule/pyflakes
	url = git://github.com/kevinw/pyflakes.git
[submodule "vim/submodule/pyflakes-vim"]
	path = vim/submodule/pyflakes-vim
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "vim/submodule/scm-diff"]
	path = vim/submodule/scm-diff
	url = git://github.com/ghewgill/vim-scmdiff.git
[submodule "vim/submodule/git-vim"]
	path = vim/submodule/git-vim
	url = git://github.com/motemen/git-vim.git
[submodule "vim/submodule/vim-git-branch-info"]
	path = vim/submodule/vim-git-branch-info
	url = git://github.com/taq/vim-git-branch-info.git
